:root {
    --size-header-logo : 75px;

    /* color */
    --color-black: rgb(17, 17, 17);
    --color-dropdown-menu: rgb(44, 42, 41);
    --color-header-background: #f5f3eb;
    --color-font-white: rgb(246, 245, 239);
    
    /* transition */
    --trans-function: ease-out;

}


/* 기본 셋팅 */

a:hover {
    text-decoration: underline;
}

.body__div {
    min-width: 1170px;
    font-family: 'nbg', '맑은고딕', HelveticaNeue, DroidSans, sans-serif, Helvetica;
    line-height: 1;
    height: 2000px;
}

.button {
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 10px 23px;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    transition: .4s var(--trans-function);
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* header */

#sb-header {
    height: 120px;
    position: sticky;
    top: 0;
    background: #000000;
    z-index: 1;
}

#sb-header .header__div {
    height: 100%;
    width: 100%;
    background: var(--color-header-background);
    display: flex;
    justify-content: center;
}

#sb-header .header__div .content {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

#sb-header .header__div .content .logo {
    width: var(--size-header-logo); 
    height: var(--size-header-logo); 
    background: url(https://www.starbucks.co.kr/common/img/common/logo.png);
    background-size: var(--size-header-logo);
    align-self: center;
}

#sb-header .header__div .content .all-menu {
    width: 750px;
    position: relative;
}

#sb-header .header__div .content .all-menu .sub-menu ul {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #555555;
    position: absolute;
    right: 50px; top: 8px;
    word-spacing: -1px;
}

#sb-header .header__div .content .all-menu .sub-menu ul li:not(:last-child) {
    position: relative;
}

#sb-header .header__div .content .all-menu .sub-menu ul li:not(:last-child) a {
    padding: 0 17px;
}

#sb-header .header__div .content .all-menu .sub-menu ul li:nth-child(1)::after,
#sb-header .header__div .content .all-menu .sub-menu ul li:nth-child(2)::after, 
#sb-header .header__div .content .all-menu .sub-menu ul li:nth-child(3)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #cccccc;
    position: absolute;
    right: 0; bottom: 0;
}

#sb-header .header__div .content .all-menu .sub-menu ul li a:hover {
    text-decoration: underline;

}

#sb-header .header__div .content .all-menu .sub-menu .search {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #ffffff top 5px left 4px url(https://image.istarbucks.co.kr/common/img/common/icon_magnifier_black.png) no-repeat;
    border-radius: 4px;
    border: 1px solid #cccccc;
}


/* .main-menu 대략적인 레이아웃 구조 */
#sb-header .header__div .content .all-menu .main-menu ul {
    display: flex;
    font-size: 14px;
    position: absolute;
    bottom: 40px; right: 0;
}

#sb-header .header__div .content .all-menu .main-menu > ul > li > a:hover {
    background: var(--color-dropdown-menu);
    color: rgb(119, 158, 41);
}

#sb-header .header__div .content .all-menu .main-menu ul li:nth-child(1) a,
#sb-header .header__div .content .all-menu .main-menu ul li:nth-child(2) a,
#sb-header .header__div .content .all-menu .main-menu ul li:nth-child(3) a {
    padding: 8px 19px 38px;
}

#sb-header .header__div .content .all-menu .main-menu ul li:nth-child(4) a {
    padding: 8px 25px 38px;
}

#sb-header .header__div .content .all-menu .main-menu ul li:nth-child(5) a {
    padding: 8px 35px 38px;
}

#sb-header .header__div .content .all-menu .main-menu ul li:nth-child(6) a {
    padding: 8px 25px 38px;
}


/* .main-menu drop down 메뉴 */
#sb-header .coffee__wrap-div {
    height: 555px;
    position: sticky;
    top: 120px;
    background: var(--color-black);
    /* 추후 JS 작업으로 완성할 부분 */
    display: none;
}

#sb-header .coffee__wrap-div .cags {
    display: flex;
    justify-content: center;
    height: 430px;
    background: var(--color-dropdown-menu);
}

#sb-header .coffee__wrap-div .cags .cags__contents {
    display: inline-flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 1100px;
    /* border: 1px solid wheat; */
}

#sb-header .coffee__wrap-div .cags .cags__contents ul {
    width: 220px;
    height: 150px;
    margin-bottom: 80px;
}

#sb-header .coffee__wrap-div .cags .cags__contents ul li {
    margin: 10px 0;
    font-size: 12px;   
    letter-spacing: -1px;
}

#sb-header .coffee__wrap-div .cags .cags__contents ul li a {
    color: #9c9c9c;
}

#sb-header .coffee__wrap-div .cags .cags__contents ul .title {
    font-size: 14px;
    font-weight: 600;
    margin: 25px 0 20px 0;
}

#sb-header .coffee__wrap-div .cags .cags__contents ul .title a {
    color: var(--color-header-background);
}

#sb-header .coffee__wrap-div .bottom-txt {
    display: flex;
    justify-content: center;
}

#sb-header .coffee__wrap-div .bottom-txt ul {
    width: 1100px;
    /* text-align: left; */
    margin-top: 30px;
}

#sb-header .coffee__wrap-div .bottom-txt ul li {
    margin-bottom: 10px;
}

#sb-header .coffee__wrap-div .bottom-txt ul li a {
    color: #9c9c9c;
    font-weight: 700;
}

#sb-header .coffee__wrap-div .bottom-txt ul li p {
    margin-top: 5px;
    color: rgb(111, 173, 69);
    letter-spacing: -1px;
}


#sb-header .coffee__wrap-div.on {
    display: block;
}




/* section id="season-menu" */
#season-menu {
    height: 650px;
    background: url(season__background.png);
    background-position: left -65px;
    display: flex;
    justify-content: center;
}

#season-menu .season-menu__contents {
    width: 1100px;
    height: 650px;
    /* border: 1px solid slateblue; */
    position: relative;
}

#season-menu .season-menu__contents .give-thanks {
    position: absolute;
    top: 72px; 
}

#season-menu .season-menu__contents a::after {
    content: '';
    display: block;
    /* border: 1px solid sienna; */
    position: absolute;
}

#season-menu .season-menu__contents .img--black-glazed {
    width: 358px;
    position: absolute;
    bottom: -11px; left: 198px;
}

#season-menu .season-menu__contents .a--black-glazed::after {
    width: 190px;
    height: 50px;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2020/2020_autumn1_glazed_latte_tit_1.png) no-repeat;
    bottom: 99px; left: 61px;
}

#season-menu .season-menu__contents .img--hazelnut-oat {
    width: 379px;
    position: absolute;
    left: 418px; bottom:67px;
}

#season-menu .season-menu__contents .a--hazelnut-oat::after {
    width: 135px;
    height: 70px;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2020/2020_autumn1_oat_chocolat_tit_1.png) no-repeat;
    left: 488px; top: 157px;
}

#season-menu .season-menu__contents .img--apple-cookie {
    width: 328px;
    position: absolute;
    right: 68px; bottom: 8px;
}

#season-menu .season-menu__contents .a--apple-cookie::after {
    width: 140px;
    height: 75px;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2020/2020_autumn1_apple_latte_tit_1.png) no-repeat;
    top: 152px; right: 234px;
}

#season-menu .season-menu__contents .img--apple-cookie-cream {
    width: 305px;
    position: absolute;
    right: -96px; bottom: 33px;
}

#season-menu .season-menu__contents .a--apple-cookie-cream::after {
    width: 206px;
    height: 80px;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2020/2020_autumn1_frappuccino_tit.png) no-repeat;
    bottom: 40px; right: 14px;
}

#season-menu .season-menu__contents .more-info {
    position: absolute;
    top: 245px; left: 0;
}

#season-menu .season-menu__contents .more-info:hover {
    background: rgb(229, 187, 149);
    color: rgb(98, 51, 141);
}


/* section id="line-notice" */
#line-notice {
    height: 61px;
    display: flex;
}

#line-notice .notices {
    width: 54%;
    background: var(--color-black);
    display: flex;
    justify-content: flex-end;
}

#line-notice .notices .contents {
    /* border: 1px solid #ffffff; */
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}

#line-notice .notices .contents > div {
    width: 320px;
    height: 30px;
    /* border: 1px solid #ffffff; */
    display: flex;
    align-items: center;
}

#line-notice .notices .contents div div {
    /* border: 1px solid white; */
    height: 20px;
    width: 315px;
    margin-left: 15px;
    overflow: hidden;
}

#line-notice .notices .contents div div ul li {
    height: 20px;
}

#line-notice .notices .contents div div ul li a {
    background: var(--color-black);
    color: var(--color-font-white);
    height: 20px;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#line-notice .notices .contents .a--button {
    width: 36px;
    height: 36px;
    background: url(https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png) no-repeat;
    background-size: 35px;
    margin-right: 17px;
    /* border: 1px solid wheat; */
}

#line-notice .promotion {
    width: 46%;
    background: rgb(246, 245, 239);
    display: flex;
    justify-content: start;
}

#line-notice .promotion .contents {
    width: 453px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#line-notice .promotion .contents div {
    cursor: pointer;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}

#line-notice .promotion .contents div p {
    color: transparent;
    width: 128px;
    height: 16px;
    /* border: 1px solid black; */
    background: url(https://www.starbucks.co.kr/common/img/common/prom_ttl_b.png) no-repeat;
    background-size: 128px 16px;
}

#line-notice .promotion .contents .div--button {
    width: 36px;
    height: 36px;
    background: url(https://image.istarbucks.co.kr/common/img/common/btn_prom_down.png) no-repeat;
    background-size: 35px;
    margin-left: 70px;
}

@media screen and (max-width: 1475px) {
    #line-notice .notices {
        width: 50%;
    }

    #line-notice .notices .contents {
        width: 459px;
    }

    #line-notice .promotion {
        width: 50%;
    }

    #line-notice .promotion .contents {
        width: 325px;
    }
}


/* <section id="promotion__more"> */

#promotion__more {
    height: 658px;
    background: rgb(246, 246, 238);
}

#promotion__more .promotion__more__slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#promotion__more .promotion__more__slider .viewport {
    display: flex;
    justify-content: center;
}

#promotion__more .promotion__more__slider ul {
    display: flex;
}

#promotion__more .promotion__more__slider ul li {
    margin: 40px 5px 0;
    text-align: center;
    position: relative;
    width: 819px;
    height: 554px;
    /* border: 1px solid tomato; */
}

#promotion__more .promotion__more__slider ul li:not(:nth-child(2)) {
    opacity: 0.4;
}

#promotion__more .promotion__more__slider .button {
    border: 2px solid #1b1b1b;
    color: #555555;
    padding: 10px 25px;
    font-weight: 600;
    position: absolute;
    left: 345px; bottom: 15px;
    letter-spacing: -1px;
}

#promotion__more .promotion__more__slider .button:hover {
    background: #1b1b1b;
    color: var(--color-font-white);
}

#promotion__more .promotion__more__slider .control {
    width: 100px;
    height: 30px;
    border: 1px solid;
    margin: 0 auto;
}

.control--arrow {
    width: 1033px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
    bottom: 330px;
    z-index: 3;
}

.control--arrow .left,
.control--arrow .right {
    width: 51px;
    height: 51px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
    cursor: pointer;
    transition: .4s var(--trans-function);
}

.control--arrow .left {
    background: url(https://www.starbucks.co.kr/common/img/common/arrow_left_on.png) no-repeat;
    background-position: 50% 50%;
}

.control--arrow .right {
    background: url(https://www.starbucks.co.kr/common/img/common/arrow_right_on.png) no-repeat;
    background-position: 50% 50%;
}

.control--arrow .left:hover,
.control--arrow .right:hover {
    background-color: var(--color-font-white);
}

.control--bar {
    align-self: center;
    position: relative;
    bottom: 40px;
    z-index: 3;
    /* border: 1px solid tomato; */
}

.control--bar span {
    display: inline-block;
    width: 17px;
    height: 12px;
    background-position: center center;
    cursor: pointer;
}

.control--bar span:nth-child(1) {
    background: url(https://www.starbucks.co.kr/common/img/main/main_prom_play.png) no-repeat;
    background-position: 3px center;
}

.control--bar span:nth-child(3) {
background: url(https://www.starbucks.co.kr/common/img/main/main_prom_on.png) no-repeat;
}

.control--bar span:nth-child(2),
.control--bar span:nth-child(4) {
    background: url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png) no-repeat;
}